.ui-datepicker-prev, .ui-datepicker-next{
  display: none;
}

.ui-datepicker-week-end a{
  background-color: yellow !important;
}

.ui-state-default{
  background-color: #6dbc76 !important;
  border-color: white !important;
  color: #454545 !important;
}

.ui-datepicker-unselectable > span, .ui-state-disabled > span{
  background: #454545 !important;
}
#calendar-div a{
  cursor: default;
}

.ui-datepicker-group{
  border: 1px solid #c5c5c5 !important;
  display:block !important;
  clear:both !important;
  margin-bottom: 18px !important;
  width: 90% !important;
}

.ui-datepicker-inline:not(.ui-datepicker-multi){
  border: 1px solid #c5c5c5 !important;
}

.ui-widget.ui-widget-content{
  border: none;
}

.ui-datepicker{

  max-width: 20em !important;

}

.orangeBack, .ui-state-default.orangeBack {
  background-color: #FFA500 !important;
}
#loading-div{
  display: none;
}
